{% block app_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {%  if title %}
    <title>{{ title }} - Title</title>
    {% else %}
    <title>Title</title>
</head>
<body>

</body>
</html>

{% endblock %}

{% block title %}This is an example page{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
    {% if current_user.is_anonymous %}
    <li><a href="{{ url_for('login') }}">Register/Login</a></li>
    {% else %}
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
    <li><a href="{{ url_for('topics') }}">Topics</a></li>
    {% endif %}

</div>
{% endblock %}

{% block content %}
  <h1>Hello, Bootstrap</h1>
{% endblock %}