{% extends "base.html" %}

{% block app_content %}

    <p>Welcome to Categories</p>

{#    {% for newPost in newPostForm %}#}
{#        <p><a href="{{ url_for('artist', name=newPost.title) }}">{{ newPost.description }}</a></p>#}
{#    {% endfor %}#}

    <ul class="thumbnails">
        <li class="span4">
            <div class="thumbnail">
            <img src="https://placehold.it/300x200" alt="">
            <h3>{{ newPostForm.title }}</h3>
             <p>{{ newPostForm.description }}</p>
            </div>
        </li>
    </ul>

{% endblock %}