{% extends "base.html" %}

{% block app_content %}

<div class="jumbotron text-center">
  <h1>Welcome to AnonCollege</h1>
  <p>By Ithaca College Students, For Ithaca College Students</p>
</div>
<div class="center-block text-center">
    <p><h4>AnonCollege is a site meant to create a more realistic and
    personalized college experience for both current and prospective students of Ithaca College.
    Here you will be able to share your opinions about Ithaca College and campus life with other students,
    through a safe and anonymous space.</h4></p>
<p><h4>To start learning about the <i>real</i> Ithaca College, explore the categories below</h4></p>
</div>
    <br>
    <br>
    <br>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Academics</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
    <div class="col-sm-4">
      <h3>Current Events</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
    <div class="col-sm-4">
      <h3>Campus Life</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
</div>

{% endblock %}