{% extends "base.html" %}

{% block app_content %}
    <link rel="stylesheet" href="style.css">

<div class="jumbotron text-center bg-anon-red">
  <h1>Welcome to AnonCollege</h1>
  <p>By Ithaca College Students, For Ithaca College Students</p>
</div>
    <br>
<div class="center-block text-center">
    <p><h4>AnonCollege is a site meant to create a more realistic and
    personalized college experience for both current and prospective students of Ithaca College.
    Here you will be able to share your opinions about Ithaca College and campus life with other students,
    through a safe and anonymous space.</h4></p>
<p><h4>To start learning about the <i>real</i> Ithaca College, explore the categories below</h4></p>
</div>
    <br>
    <br>


<div class="container.center-block">
  <div class="row">
    <div class="col-sm-4" style="background-color:rosybrown">
      <h3 class="text-center"><a href="{{ url_for('academics') }}">Academics</a></h3>
        <hr>
      <p class="text-center">
        <ul class="text-center">Schools</ul>
        <ul class="text-center">Majors</ul>
        <ul class="text-center">Classes</ul>
      </p>
    </div>
    <div class="col-sm-4" style="background-color:lightgray;">
      <h3 class="text-center"><a href="{{ url_for('campusevents') }}">Campus Events</a></h3>
        <hr>
      <p class="text-center">
        <ul class="text-center">Upcoming Events</ul>
        <ul class="text-center">Fall 2020 Events</ul>
        <ul class="text-center">Spring 2021 Events</ul>
      </p>
    </div>
    <div class="col-sm-4" style="background-color:rosybrown;">
      <h3 class="text-center">Campus Life</h3>
        <hr>
      <p class="text-center">
          <ul class="text-center">Dining Halls</ul>
        <ul class="text-center">Clubs and Organizations</ul>
        <ul class="text-center">Getting Around</ul>
      </p>

    </div>
  </div>
</div>

{% endblock %}